[2020-06-01 11:46] callmekatootie opened #1 "Elasticsearch Integration Bugs"
- [x] When `enrich` query param is not passed to `/users` endpoint, we still get `skills`, `roles`, `achievements`, `externalProfiles` and `attributes`. These should only be returned if `enrich` query param is passed and is `true`

[2020-06-05 09:55] callmekatootie opened #3 "Roles - Single role or multiple"
@cwdcwd Are the roles on a user single or multiple? The ERD has them as singular, but, comparing it with what we have at Topcoder, it could be multiple too.

If it's singular it is fine - the api needs to be updated to return the single object. However, if it is multiple, then how would:
- We show it in the UI
![image](https://user-images.githubusercontent.com/2317133/83863303-c995ba80-a740-11ea-8

[2020-06-05 17:14] cwdcwd commented on #3
the roles are multiple in the JWT. I might have mislabelled the crows-feet on the ERD.
Regardless, I think _this_ `role` in the UI is more of a `Title`, coming from an attribute than an actual platform `Role`. Does that make sense?

[2020-06-05 17:16] callmekatootie commented on #3
It does. What should I go with for our use case? 1 role or multiple? And if multiple, how should the updates happen considering how the UI is currently...

[2020-06-05 17:18] cwdcwd commented on #3
Updating this `role` updates the attribute value.
For _actual_ platform `Roles`, they're not related to the UI and don't show up there.

[2020-06-05 17:19] callmekatootie commented on #3
_Ah._ Makes sense

[2020-06-06 19:06] callmekatootie commented on #3
Closing. Role has been integrated.

[2020-06-06 19:06] #3 closed

[2020-06-06 19:06] callmekatootie commented on #1
Resolved in d4a726371ec39066e9d23be64d03682134a921d9

[2020-06-06 19:06] #1 closed

[2020-06-07 11:50] callmekatootie opened #4 "Attributes: Filters"
### Question 1

@cwdcwd Which API to call to get the list of company attributes under the filter modal:

![image](https://user-images.githubusercontent.com/2317133/83967934-1c0edc80-a8e3-11ea-9cd3-770151c2cc0b.png)

I am guessing that we don't have 1 api for this. We need to create a new endpoint, that:
- will get the org of the caller
- get the attribute groups for the org
- get all attributes th

[2020-06-07 11:53] callmekatootie opened #5 "[Finalized] Groups: Filters"
### Question 1

@cwdcwd For the filter users by the group feature, which api should be called? Or rather, considering that the groups are in the `/v5/groups` api and the users are in ubahn, how do we filter users by a specific group

[2020-06-07 11:57] callmekatootie opened #6 "Groups: Add user to group"
### Question 1

@cwdcwd In order to add a user to a group, I assume:
- We call POST /v5/groups/{groupId}/members
- The request body would be:

[code]

Is that correct?

[2020-06-07 12:04] callmekatootie opened #7 "[Finalized] Groups: Get groups that belong to a user"
### Question 1

![image](https://user-images.githubusercontent.com/2317133/83968145-bfacbc80-a8e4-11ea-9834-fe5d367f4c74.png)

@cwdcwd Referring to the display of the groups that a user belongs to. When we get the list of users from Elasticsearch, should we loop over the users (in the API itself and not UI) to get the groups for that user or some other approach?

If the former is correct approach,

[2020-06-07 13:51] callmekatootie opened #8 "[Finalized] Groups: Filters - Numbers"
## Question 1

![image](https://user-images.githubusercontent.com/2317133/83970586-0d7cf100-a8f4-11ea-80b0-8dd4e52421e2.png)

@cwdcwd What are the numbers next to the group names.

[2020-06-07 14:25] wdprice commented on #8
Count of members in the group

[2020-06-07 14:41] callmekatootie commented on #8
### Question 2

So this would mean that we need to:

[2020-06-07 14:42] callmekatootie commented on #8
### Question 2

So this would mean:
1. We need to get groups that the user is part of
2. We need to get groups that the user is not part of but can be (groups in the same org)
3. Count of members in each group

For 3, it sounds like we need to run a batch job and store that info in redis perhaps... And this batch job would have to be in the groups api... Or is there a better approach?

[2020-06-07 17:51] cwdcwd commented on #4
@callmekatootie yes, I think that's the right approach. We should be able to take the UID from the JWT, which will be their TC UID and be present in the `ExternalProfile` with the OrgId.

I defer on question to to Will on how that should be working

[2020-06-07 17:53] cwdcwd commented on #5
@callmekatootie there should be a call for the members in a group on the `v5/groups` API.

[2020-06-07 17:54] cwdcwd commented on #5
CC @dushyantb

[2020-06-07 17:54] cwdcwd commented on #6
I believe that's correct, right @dushyantb ?

[2020-06-07 17:56] cwdcwd commented on #7
I believe that's the correct endpoint, right @dushyantb ?

[2020-06-07 17:58] cwdcwd commented on #8
you could probably loop all the groups in the org and take their totals count from the headers. Then call for the groups specific to the user to separate them out. Adding @dushyantb for alternative ideas

[2020-06-08 02:16] callmekatootie commented on #5
@cwdcwd There indeed is a GET `/groups/{groupdId}/members`. Assuming I call this, I get the list of members belonging to that group (paginated). I would then need to query ES for each user to get their enriched user details in our backend API. Is that approach right?

[2020-06-08 06:07] dushyantb commented on #8
we are already having API to get the memberCounts in specific group `/groups/:groupId/membersCount`; we can modify the API to get the counts and groupId based on the organisationId

and filter out the groupIds based on the list got from point 1

[2020-06-08 06:10] dushyantb commented on #7
@callmekatootie you can directly use the `v5/groups/memberGroups/:memberId` endpoint to get the groups where the user belongs.

[2020-06-08 06:11] dushyantb commented on #6
this is correct

[2020-06-08 12:41] callmekatootie commented on #7
Thanks @dushyantb .

@cwdcwd Does this mean that, once we get the users from ES, we loop through each of them to get their groups?

[2020-06-08 17:39] callmekatootie commented on #4
@wdprice Just making sure you have seen this - would like to know the answer to Question 2 above.

[2020-06-09 11:36] callmekatootie opened #9 "[Finalized] Skills: Filters"
@cwdcwd So - the skills that will be added to users would be coming from EMSI.

Thus, it would make sense to have the skills listed under the filters to also come from EMSI.

However, to list all the skills from EMSI (to filter) would not make sense since it has a lot of skills. How thus to display the skills from EMSI under the filter?

cc @wdprice

[2020-06-09 15:30] cwdcwd commented on #6
@callmekatootie pursuant to our conversation on slack, @dushyantb is going to add a field to represent the u-bahn userId as the `memberId` here is the TC userId and not our universal identity user

[2020-06-09 15:32] cwdcwd commented on #7
@callmekatootie good question. It probably makes sense for the UI to handle it as it can call with an M2M token for administrative access

[2020-06-09 15:33] cwdcwd commented on #8
@callmekatootie , @dushyantb is going to also add a filter param for `organizationId` so that you can get all the groups and counts in one call

[2020-06-09 15:34] cwdcwd commented on #9
I believe, and @wdprice can correct me, we want to autocomplete on skills so we would broker a call to EMSI through our back end

[2020-06-09 16:54] callmekatootie commented on #7
Got it.

- Call UBahn API
- UBahn API will get the users. But before it responds, for **each user** it will then query groups api at GET `/v5/groups/memberGroups/:memberId` to get the groups for that member
- Once it has it, it will send the response

[2020-06-09 17:00] callmekatootie commented on #8
As per discussion on slack, I will proceed with the assumption that GET /groups will return with the count along with the other details returned currently (under the `count` attribute).

For My Groups, I will call GET `/groups`
For Other Groups, I will call GET `/groups?organizationId=the_user_org_id` and then filter the groups that already exist under My Groups. The user org id needs to be first

[2020-06-09 17:05] callmekatootie commented on #9
Ok. For the filter, I will have the user search for skills in EMSI instead of selecting from existing pills... The skill that the user selects will show up as a pill that the user can remove

[2020-06-09 17:06] wdprice commented on #4
Type ahead search for the value, no tag cloud or pills needed.

[2020-06-09 17:23] callmekatootie commented on #5
Discussed on slack.

- UI calls GET /groups/{groupId}/members.
- UI will then call Ubahn API for EACH user returned by the groups api to get the user's details.
- In the returned members from groups, there will be a yet-to-be-added attribute called `universalUID` which will be the Ubahn user id of that member. Use this to GET `/users/{universalUID}?enrich=true` to get details of each user and disp

[2020-06-11 14:56] callmekatootie opened #11 "[$100] Swagger Updates"
## Skills
- GET `/skills` now supports filter by name

## Search endpoints
- New POST `/search/users`, GET `/search/userAttributes`, GET `/search/userAchievements` and GET `/search/skills` endpoints

### /search/users
- Can be used to search for users that match a criteria
- Supports pagination through page and perPage query params
- Support orderBy query param. Values are `name`, `location` and `

[2020-06-11 21:56] cwdcwd opened #12 "Payload validation"
When posting in the following payload to the `/users` endpoint

[code]

there doesn't seem to be validation on the payload keys. Checking in the QLDB it seems that the uncapitalized/uncamel-cased fields were added instead of rejecting the payload. I haven't checked but this might be the case on other endpoints.

![image](https://user-images.githubusercontent.com/1504607/84443061-e03e8480-ac0c-11ea

[2020-06-12 21:12] cwdcwd opened #13 "Add ExternalProfiles as a root endpoint"
Add an `/ExternalProfiles` as a root endpoint that will

- CRUD a single `/ExternalProfile/:id` record
- list all external profiles without filters
- filter by
  - organizationId
 - organization.name
  - externalId
  - userId
  - user.name

[2020-06-15 15:04] callmekatootie commented on #12
@cwdcwd This is now resolved. Please let me know if you are not getting any validation errors with any request.

[2020-06-15 15:05] callmekatootie commented on #5
This is now in

[2020-06-15 15:05] #5 closed

[2020-06-15 15:05] callmekatootie commented on #6
This is now in

[2020-06-15 15:05] #6 closed

[2020-06-15 15:06] callmekatootie commented on #7
This is now in

[2020-06-15 15:06] #7 closed

[2020-06-15 15:06] callmekatootie commented on #9
This is now in

[2020-06-15 15:06] #9 closed

[2020-06-15 15:20] callmekatootie commented on #12
Correction - NOT FIXED. Had to undo the fix.

Discovered a side effect of the change so reverted it. Issue still exists.

[2020-07-27 17:00] callmekatootie opened #19 "Support empty values for the attribute values"
Currently, we do not allow empty values for the attributes. Ticket is to capture this issue to work on in the future

[2020-07-30 14:40] callmekatootie opened #23 "[$100] Search for achievement name, among users of an org"
- Create new endpoint GET /search/achievements which will accept two query params (both required) - `keyword` of type text and `organizationId` of type uuid.
- Endpoint will ONLY query Elasticsearch, to return the achievement names that match `keyword`. These achievements have to be of users that belong to the organization identified by `organizationId`.

[2020-07-30 14:40] callmekatootie commented on #23
Assigned to @ansaryfantastic

[2020-07-30 14:56] callmekatootie opened #24 "[$250] New model OrganizationSkillProvider"
**Model Name**:
- OrganizationSkillProvider

**Attributes**:
- organizationId (reference to Organizations model)
- skillProviderId (reference to Skill Provider model)

**Endpoint**:
- GET /organizations/:organizationId/skillProviders (Should support pagination)
- HEAD /organizations/:organizationId/skillProviders
- POST /organizations/:organizationId/skillProviders
- GET /organizations/:organizati

[2020-07-30 14:56] callmekatootie commented on #24
- [ ] Swagger updates
- [ ] Table creation in QLDB for the first time

[2020-08-02 17:55] callmekatootie commented on #12
This is now resolved

[2020-08-02 17:55] #12 closed

[2020-08-02 17:55] #8 closed

[2020-08-03 15:27] callmekatootie opened #28 "[$100] New endpoint for skill search"
Ticket to capture effort towards providing new endpoint to search for skills

[2020-08-03 15:29] callmekatootie commented on #28
Ticket assigned to @ansaryfantastic

[2020-08-03 15:31] callmekatootie opened #29 "[$50] Proxy to EMSI"
For the new endpoint `/search/skills`, proxy to EMSI if the org has only EMSI as the skill provider...

[2020-08-04 07:31] callmekatootie commented on #24
Contest https://www.topcoder.com/challenges/30135787 has been created for this ticket.<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2020-08-04 07:31] callmekatootie commented on #24
Contest https://www.topcoder.com/challenges/30135787 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for callmekatootie via Topcoder X```

[2020-08-04 07:35] #24 closed

[2020-08-04 07:35] cwdcwd commented on #24
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135787<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-04 07:43] callmekatootie commented on #28
PAID - https://software.topcoder.com/review/actions/ViewProjectDetails?method=viewProjectDetails&pid=30135789

[2020-08-04 07:43] #28 closed

[2020-08-04 07:43] callmekatootie commented on #23
PAID - https://software.topcoder.com/review/actions/ViewProjectDetails?method=viewProjectDetails&pid=30135789

[2020-08-04 07:43] #23 closed

[2020-08-04 11:10] cwdcwd commented on #29
Contest https://www.topcoder.com/challenges/30135832 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-04 11:10] cwdcwd commented on #29
Contest https://www.topcoder.com/challenges/30135832 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-04 11:11] #29 closed

[2020-08-04 11:15] cwdcwd commented on #29
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30135832<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-04 14:26] callmekatootie opened #30 "[$40] Create skills for the client in the database"

[2020-08-06 09:44] callmekatootie commented on #30
Created the skills for the org.

Could not associate the skills with the user due to mismatch - will be taken up in a different ticket.

[2020-08-06 09:44] cwdcwd commented on #30
Contest https://www.topcoder.com/challenges/30136129 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-06 09:44] cwdcwd commented on #30
Contest https://www.topcoder.com/challenges/30136129 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-06 09:49] cwdcwd commented on #30
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-06 10:07] #30 closed

[2020-08-06 10:07] cwdcwd commented on #30
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136129<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-06 10:25] callmekatootie commented on #11
## User Attributes
- When creating, we need to pass attributeId and value in the request body.

## Achievements
- When creating, we need to pass achievementsProviderId, name, uri, certifierId, certifierDate in the request body.

## External Profile
- When creating, we need to pass organizationId, externalId, uri and isInactive in the request body

[2020-08-06 10:40] callmekatootie commented on #11
## New OrganizationSkillProvider model
- Check #24 for the details on the new model and the endpoints which you need to define in swagger

In general, verify that GET updates are also copied over to the HEAD requests too

[2020-08-06 10:41] callmekatootie commented on #11
In general, verify that any updates made to GET requests (such as new filters being added) are also copied over to the HEAD requests too

[2020-08-06 13:57] callmekatootie opened #31 "[$190] Support Non Admin role"
Allow non admin users to use the app

[2020-08-06 14:02] callmekatootie commented on #31
Changes in commit https://github.com/topcoder-platform/u-bahn-api/commit/865aad89c8428994b4a536206d7ed80c2ab55f9c

[2020-08-06 18:16] cwdcwd commented on #31
Contest https://www.topcoder.com/challenges/30136274 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-06 18:16] cwdcwd commented on #31
Contest https://www.topcoder.com/challenges/30136274 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-06 18:16] #31 closed

[2020-08-06 18:21] cwdcwd commented on #31
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136274<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-07 06:56] cwdcwd commented on #11
Contest https://www.topcoder.com/challenges/30136298 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-07 06:56] cwdcwd commented on #11
Contest https://www.topcoder.com/challenges/30136298 has been updated - it has been assigned to xxcxy.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-07 14:15] #11 closed

[2020-08-07 14:16] cwdcwd commented on #11
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30136298<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-08-17 14:21] callmekatootie opened #35 "All ROOT endpoints should support pagination"
All GET endpoints on the ROOT model should support pagination.

Currently, `joi` throws errors when we try to pass pagination params

[2020-08-18 05:39] callmekatootie opened #36 "Migrate search endpoints to their respective models"
Right now we have `/search/users`, `/search/skills`, `/search/userAttributes` and `/search/userAchievements`.

We need to move them to their respective models - example `/users/search`

[2020-08-18 05:55] callmekatootie opened #37 "Temporary code"
Logging temporary code that I need to remove later

[2020-08-20 18:14] callmekatootie commented on #35
Resolved.

[2020-08-20 18:14] #35 closed

[2020-09-11 06:28] callmekatootie opened #45 "[$80] Project UBahn | Rename search endpoint to skill search"
Reference https://github.com/topcoder-platform/u-bahn-app/issues/640

[2020-09-11 06:28] cwdcwd commented on #45
Contest https://www.topcoder.com/challenges/30141381 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-11 06:28] cwdcwd commented on #45
Contest https://www.topcoder.com/challenges/30141381 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-11 07:00] callmekatootie commented on #45
Changes are live in dev

[2020-09-11 07:00] #45 closed

[2020-09-11 07:00] cwdcwd commented on #45
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141381<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-09-20 07:37] callmekatootie opened #47 "Read groups info from elasticsearch"
Contest - https://www.topcoder.com/direct/contest/detail?projectId=30141547

Reference: https://github.com/topcoder-platform/u-bahn-app/issues/641

[2020-09-20 07:38] #47 closed

[2020-10-02 10:16] callmekatootie opened #48 "[$400] Project UBahn | Audit APIs"
Audit the existing apis to ensure that they conform to the v5 standards

[2020-10-02 11:32] cwdcwd commented on #48
Contest https://www.topcoder.com/challenges/30144386 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-02 11:33] cwdcwd commented on #48
Contest https://www.topcoder.com/challenges/30144386 has been updated - it has been assigned to xxcxy.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-06 04:37] callmekatootie commented on #48
- [ ] These endpoints are not having pagination information. Additionally, the page attribute has no effect if the records are fetched from db and not ES
   get /users
   get /users/{userId}/skills
   get /skills
   get /skillsProviders
   get /roles
   get /users/{userId}/roles
   get /users/{userId}/externalProfiles
   get /users/{userId}/achievements
   get /achievementsProviders
   get /organi

[2020-10-06 04:39] callmekatootie commented on #48
- [ ] These endpoints are not having pagination information
   head /users
   head /users/{userId}/skills
   head /skills
   head /skillsProviders
   head /roles
   head /users/{userId}/roles
   head /users/{userId}/externalProfiles
   head /users/{userId}/achievements
   head /achievementsProviders
   head /organizations
   head /organizations/{organizationId}/skillProviders
   head /users/{userI

[2020-10-06 04:48] callmekatootie commented on #48
- [ ] These endpoints have PATCH method but not PUT
   /users/{userId}
   /users/{userId}/skills/{skillId}
   /skills/{skillId}
   /skillsProviders/{providerId}
   /roles/{roleId}
   /users/{userId}/roles/{roleId}
   /users/{userId}/externalProfiles/{organizationId}
   /users/{userId}/achievements/{achievementsProviderId}
   /achievementsProviders/{providerId}
   /organizations/{organizationId}

[2020-10-06 04:49] callmekatootie commented on #48
- [ ] Missing HEAD method:
  get /skill-search/users
  get /skill-search/userAttributes
  get /skill-search/userAchievements
  get /skill-search/skills

[2020-10-06 04:50] callmekatootie commented on #48
- [ ] Missing pagination info
post /skill-search/users

[2020-10-06 04:55] callmekatootie commented on #48
- [ ] Should use get method, not post method. Should use query parameters instead of request body
  post /skill-search/users

- [ ] Does not support pagination
  get /skill-search/userAttributes
  get /skill-search/userAchievements
  get /skill-search/skills

[2020-10-06 05:20] #48 closed

[2020-10-06 05:21] cwdcwd commented on #48
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144386<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-06 05:23] callmekatootie opened #50 "[$125] Project UBahn | Fix issues with api (documentation)"
https://github.com/topcoder-platform/u-bahn-api/issues/48#issuecomment-704022121

https://github.com/topcoder-platform/u-bahn-api/issues/48#issuecomment-704022635

https://github.com/topcoder-platform/u-bahn-api/issues/48#issuecomment-704025112

https://github.com/topcoder-platform/u-bahn-api/issues/48#issuecomment-704025247

[2020-10-06 06:06] cwdcwd commented on #50
Contest https://www.topcoder.com/challenges/30144611 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-06 06:06] cwdcwd commented on #50
Contest https://www.topcoder.com/challenges/30144611 has been updated - it has been assigned to xxcxy.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-07 05:27] #50 closed

[2020-10-07 05:28] cwdcwd commented on #50
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144611<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-09 16:46] callmekatootie opened #52 "Incorrect swagger"
GET /users in swagger indicates support for multiple query params. But that does not seem to be the case in reality....

[2020-10-21 13:37] callmekatootie opened #53 "[$400] Project Ubahn | Correct enrich code"
Correct the winning submission for the enrich processor

- [x] Fix the enrich approach

- [x] Fix the data insertion script

- [x] Fix the db migration script

- [x] Fix the delete data script

[2020-10-26 10:24] cwdcwd commented on #53
Contest https://www.topcoder.com/challenges/30146932 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-26 10:24] cwdcwd commented on #53
Contest https://www.topcoder.com/challenges/30146932 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-10-26 10:39] #53 closed

[2020-10-26 10:39] cwdcwd commented on #53
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30146932<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-11-03 05:01] callmekatootie opened #62 "Migrate off of QLDB and start using Postgresql"
Ticket to plan for migrating off QLDB and use PostgreSQL instead...

[2020-11-03 15:33] callmekatootie opened #63 "[$75] Project Ubahn API | Fix data migration issue in prod"

[2020-11-03 15:33] cwdcwd commented on #63
Contest https://www.topcoder.com/challenges/30148616 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-11-03 15:33] cwdcwd commented on #63
Contest https://www.topcoder.com/challenges/30148616 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-11-03 15:38] #63 closed

[2020-11-03 15:38] cwdcwd commented on #63
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148616<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-11-07 08:54] callmekatootie commented on #37
Not temporary code any more. The group api code is obsolete while the others are needed.

[2020-11-07 08:54] #37 closed

[2020-11-07 09:13] callmekatootie opened #64 "Behaviour on deletion"
When a record is deleted, the behaviour expected is as follows:

### Safe to delete

No checks will be carried out here:

- achievement
- externalProfile
- organizationSkillsProvider
- usersAttribute
- usersRole
- usersSkill

These exist as sub documents under the user / organizationn and thus are safe to delete

### Dependencies

Check if the model is referenced by other models

- achievementsPro

[2020-11-08 15:48] callmekatootie opened #65 "[$120] Project Ubahn API | Create new clean data for demo"
Fixed in c994e5c7ff362fdbccf42a9c7292c3678ea4c6de

[2020-11-08 16:18] cwdcwd commented on #65
Contest https://www.topcoder.com/challenges/30149651 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-11-08 16:18] cwdcwd commented on #65
Contest https://www.topcoder.com/challenges/30149651 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-11-09 04:30] #65 closed

[2020-11-09 04:31] cwdcwd commented on #65
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149651<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-08 06:20] callmekatootie opened #66 "[$250] Ubahn API | Create db migrations"

[2020-12-08 06:21] cwdcwd commented on #66
Contest https://www.topcoder.com/challenges/30156361 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-08 06:21] cwdcwd commented on #66
Contest https://www.topcoder.com/challenges/30156361 has been updated - it has been assigned to xxcxy.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-11 04:54] #66 closed

[2020-12-11 04:55] cwdcwd commented on #66
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156361<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-11 05:54] callmekatootie opened #69 "[$200] Ubahn API | Script to migrate data from qldb to pgsql"
Need a script to move the current data in qldb to pgsql -  to prepare for replacing qldb with pgsql

[2020-12-11 05:54] cwdcwd commented on #69
Contest https://www.topcoder.com/challenges/30157386 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-11 05:54] cwdcwd commented on #69
Contest https://www.topcoder.com/challenges/30157386 has been updated - it has been assigned to xxcxy.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-11 06:26] callmekatootie opened #70 "[$40] Ubahn API - Specify sort order for skills"
Support specifying sorting by `name` attribute for GET `/skills` endpoint

[2020-12-11 06:26] cwdcwd commented on #70
Contest https://www.topcoder.com/challenges/30157390 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-11 06:28] cwdcwd commented on #70
Contest https://www.topcoder.com/challenges/30157390 has been updated - it has been assigned to callmekatootie.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-11 06:31] #70 closed

[2020-12-11 06:31] cwdcwd commented on #70
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30157390<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-12 12:01] #69 closed

[2020-12-12 12:01] cwdcwd commented on #69
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30157386<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-17 06:19] callmekatootie opened #72 "[$200] Standalone script to migrate data from S3 to QLDB"
We exported the data from QLDB into S3 - https://docs.aws.amazon.com/qldb/latest/developerguide/export-journal.html

We now need a script to import it back (maybe a script like this - https://docs.aws.amazon.com/qldb/latest/developerguide/getting-started.python.step-3.html - but we need in nodejs).

[2020-12-17 06:24] cwdcwd commented on #72
Contest https://www.topcoder.com/challenges/30158660 has been created for this ticket.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-17 06:24] cwdcwd commented on #72
Contest https://www.topcoder.com/challenges/30158660 has been updated - it has been assigned to xxcxy.<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2020-12-20 14:39] callmekatootie commented on #72
Fixed in https://github.com/topcoder-platform/u-bahn-api/commit/08ed4eadae0c151f3fa70a26f6c8db0a59f64821

[2020-12-20 14:39] #72 closed

[2020-12-20 14:39] cwdcwd commented on #72
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158660<br/><br/>```This is an automated message for lazybaer via Topcoder X```

[2021-01-05 09:58] callmekatootie opened #74 "pgsql migration - Missing query param for GET /users"
GET `/users` does not seem to have copied over the query params

[reference](https://github.com/topcoder-platform/taas-apis/issues/81#issuecomment-754524465)

[2021-01-06 15:29] callmekatootie opened #75 "warning about circular dependency"
I see this error when I launch the app locally:

![image](https://user-images.githubusercontent.com/2317133/103786118-11c3e500-5062-11eb-9425-5a168ec230ba.png)

[2021-01-06 15:40] callmekatootie commented on #74
Resolved.

[2021-01-06 15:40] #74 closed

[2021-01-07 09:29] callmekatootie opened #76 "[pgsql] Message posted to bus api is in incorrect format"
The message posted to bus api is in incorrect format, causing any data actions in ES processor to fail.

Observed when debugging [another issue](https://github.com/topcoder-platform/taas-apis/issues/46#issuecomment-755450065)

[2021-01-07 09:40] callmekatootie commented on #76
Resolved

[2021-01-07 09:40] #76 closed

[2021-01-07 09:41] callmekatootie commented on #64
This is now resolved

[2021-01-07 09:41] #64 closed

[2021-01-07 09:41] callmekatootie commented on #64
Changes were taken up in the pgsql migration

[2021-01-07 09:41] callmekatootie commented on #62
Current status: dev instance is using pgsql. Will test a bit before moving to prod

[2021-01-17 15:33] callmekatootie commented on #75
Cannot reproduce so far

[2021-03-02 12:25] callmekatootie opened #78 "DB to ES script won't populate the groups"
The script that copied data from the db to es does not set up the groups for the users.

Mention in README and in the script to run [this script](https://github.com/topcoder-platform/u-bahn-utils/blob/master/update-groups-v2.js) once the db to es migration script runs...

[2021-03-03 05:24] callmekatootie opened #79 "[$200] Use bulk api in db to es script"
Use Elasticsearch's [bulk api](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html) in the [db to es data migration script](https://github.com/topcoder-platform/u-bahn-api/blob/develop/scripts/db/dumpDbToEs.js)

You may have to still call it multiple times (but not as much as we do currently for each individual record) since there is a specific order in which the models

[2021-03-03 05:25] callmekatootie commented on #79
Assigned to @xxcxy

[2021-03-03 06:35] callmekatootie commented on #52
Corrected. Not sure when but this is no longer the case

[2021-03-03 06:35] #52 closed

[2021-03-03 06:36] callmekatootie commented on #62
Prod is now using pgsql too

[2021-03-03 06:36] #62 closed

[2021-03-03 06:37] callmekatootie opened #80 "GET /users swagger specification update"
GET `/users` endpoint should indicate that `externalProfile.externalId` and `externalProfile.organizationId` need `enrich` to be `true`. Else they are ignored.

Also, test if `roleId` query param for this endpoint works (I think not)

[2021-03-03 08:27] maxceem opened #81 "Don't allow to filter by "externalProfile" if "enrich" is not "true""
### Context

During working on the TaaS API we came across with the next issue.

- If we make a request with `enrich=true` everything works well, for example `https://api.topcoder-dev.com/v5/users?enrich=true&externalProfile.organizationId=36ed815b-3da1-49f1-a043-aaed0a4e81ad&externalProfile.externalId=40159127` returns an array with one user
[code]
- but if we are making the same request without

[2021-03-03 17:54] callmekatootie commented on #81
Related https://github.com/topcoder-platform/u-bahn-api/issues/80

[2021-03-09 15:11] callmekatootie commented on #79
PAID in https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30172478

[2021-03-09 15:11] #79 closed

[2021-03-24 11:46] callmekatootie opened #85 "Accurately return the # of records"
Right now, the elasticsearch api returns 10,000 as the total record count - even though we have more.

Need to accurately return the total hits. [This may help](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/search-your-data.html#track-total-hits)

[2021-04-05 16:45] callmekatootie opened #87 "m2m token does not set the createdBy attribute in records"
When using m2m tokens, the `createdBy` attribute or `updatedBy` attribute is not correctly set to the jwt token subject

[2021-04-05 17:58] callmekatootie commented on #87
PAID - https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30177025

[2021-04-05 17:58] #87 closed

[2021-04-14 13:08] callmekatootie opened #90 "[$50] Paginate records in db to es migration script"

[2021-04-14 13:16] callmekatootie commented on #90
Assigned to @xxcxy

[2021-04-14 13:16] callmekatootie commented on #90
PAID - https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30178447

[2021-04-14 13:16] #90 closed

[2021-08-25 09:35] vikasrohit opened #111 "Remove skills and skillProviders endpoints in favor of standalone V5 Skills API"

[2021-08-29 04:37] codejamtc opened #117 "`updated` date is populated when user creates a new organization"
![bandicam 2021-08-29 10-00-38-204](https://user-images.githubusercontent.com/42398485/131238565-36826bca-d85c-4a69-a6d3-1c9bee356394.jpg)

https://user-images.githubusercontent.com/42398485/131238536-47d4326f-8d67-4713-b39c-03a05708595a.mp4

POST: {{HOST}}/organizations

[code]

Since the `"updatedBy": null`  we should not have date populated for `updated` ?

[2021-09-01 14:58] lakshmiathreya commented on #111
@vikasrohit - you would close this following u-bahn-api v1.1.0 release right?

[2021-09-01 14:58] lakshmiathreya commented on #111
cc @codejamtc @SathyaJayabal

[2021-09-06 06:01] codejamtc opened #119 "When user re-execute the DEL `{{HOST}}/users/{{userId}}` it won't show a validation"
https://user-images.githubusercontent.com/42398485/132167961-a2f892f4-5c1d-45b3-83a2-21a5b46fe413.mp4

When user re-execute the DEL `{{HOST}}/users/{{userId}}` it won't show a validation like the User ID can't be found

[2021-09-06 13:49] sachin-maheshwari commented on #119
@phead198708 / @yoution even it is deleting my external profile partially. Please see attached screenshots.
<img width="1391" alt="Screenshot 2021-09-06 at 7 11 47 PM" src="https://user-images.githubusercontent.com/6467888/132227124-93fa8e93-ce4d-4772-9070-7160a57583e1.png">
<img width="1155" alt="Screenshot 2021-09-06 at 7 19 13 PM" src="https://user-images.githubusercontent.com/6467888/132227187

[2021-09-06 14:05] codejamtc opened #120 "POST `{{HOST}}/skill-search/users` is not working"
![image](https://user-images.githubusercontent.com/42398485/132229200-9a8fbe80-c538-4984-a272-c47a22e4001f.png)

[2021-09-06 15:08] sachin-maheshwari commented on #120
@phead198708 / @yoution getting following error -
![Uploading Screenshot 2021-09-06 at 7.31.12 PM.png…]()

[2021-09-07 06:41] sachin-maheshwari commented on #119
@yoution @phead198708 deployed your changes, but still its not working for me, only deleting partially external profile not whole user. Please check at your end.

[2021-09-07 06:50] sachin-maheshwari commented on #119
![Uploading Screenshot 2021-09-07 at 12.19.09 PM.png…]()

[2021-09-07 06:50] sachin-maheshwari commented on #119
<img width="1159" alt="Screenshot 2021-09-07 at 12 19 32 PM" src="https://user-images.githubusercontent.com/6467888/132297647-4e89e142-cfdf-4a4b-aa01-fbd7a04e18d9.png">

[2021-09-07 07:09] yoution commented on #119
I will check

[2021-09-07 07:23] yoution commented on #119
@sachin-maheshwari can you show me which api did you call? I donot know how to reproduce the issue ?
![image](https://user-images.githubusercontent.com/3863914/132302019-d1f28caa-fbec-452d-ac19-42352c976f9a.png)

[2021-09-07 07:32] sachin-maheshwari commented on #119
DELETE https://api.topcoder-dev.com/v5/users/5a83e774-5de1-43e5-9fa3-1793501bc56b
<img width="849" alt="Screenshot 2021-09-07 at 1 01 57 PM" src="https://user-images.githubusercontent.com/6467888/132303295-5cd872a2-cd50-4f71-afbc-e98ff2c64450.png">

[2021-09-07 08:22] yoution commented on #119
@sachin-maheshwari I can not reproduce the issue locally, can  you create a new user, and delete it again.
or can you tell me how to reproduce the issue ?

[2021-09-07 09:01] sachin-maheshwari commented on #119
@yoution Thanks! gateway timeout (expected), but delete is working for me.
<img width="1171" alt="Screenshot 2021-09-07 at 2 29 07 PM" src="https://user-images.githubusercontent.com/6467888/132316660-9f5f12da-1a0f-4685-a5de-108c17ca9695.png">

[2021-09-07 09:02] sachin-maheshwari commented on #120
@yoution regarding this ?

[2021-09-07 09:30] yoution commented on #120
@sachin-maheshwari @codejamtc I didnot change the code about this controller and service, the request body in the postman is outdated, I think you should add `organizationId` in the payload

[2021-09-07 11:14] sachin-maheshwari commented on #119
Fixed for me, we increased the gateway timeout.
<img width="1186" alt="Screenshot 2021-09-07 at 4 01 39 PM" src="https://user-images.githubusercontent.com/6467888/132330576-c1143cbc-84b8-4086-85d9-1c2c924402f0.png">

[2021-09-08 06:30] sachin-maheshwari commented on #120
I agree with @yoution, same issue are coming on Prod, so we can ignore.  <img width="986" alt="Screenshot 2021-09-08 at 10 56 28 AM" src="https://user-images.githubusercontent.com/6467888/132457577-4250c679-e905-4d5f-ac49-4d02486ef3fb.png">

[2021-10-08 07:03] Sande3p opened #127 "Removing_skill_model migration script update"
## Env
Repo to work on is: https://github.com/Sande3p/u-bahn-api/tree/feature/removing_skill_model

## Requirements
A new migration file  is to be created and that migration file should make all the changes in the DB, so when we run npm run migrations up on DEV / PROD it would adjust existent DB according to new changes while keeping the existent data.

## Submission
Raise a PR against the base br